<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>SWACLI</WebPublishMethod>
    <ResourceId>/subscriptions/3299d57c-68fd-447a-939c-86a0f1f93e3b/resourceGroups/IGIG-POC/providers/Microsoft.Web/staticSites/MSAdAuthentication</ResourceId>
    <ResourceGroup>IGIG-POC</ResourceGroup>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishProvider>AzureStaticSite</PublishProvider>
    <Environment>preview</Environment>
    <Source>None</Source>
    <OutputLocation>wwwroot</OutputLocation>
    <SiteUrlToLaunchAfterPublish>https://blue-moss-0cf8e0400.5.azurestaticapps.net</SiteUrlToLaunchAfterPublish>
    <_TargetId>AzureStaticWebApp</_TargetId>
  </PropertyGroup>
</Project>